.navbar .navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.navbar .navbar-brand:hover{
    border-bottom: 1px solid red;
}

.bg-black-transparent{
    background: rgba(0, 0, 0, 0.3);
}